@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@*
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@



<style>
    body {
        background-color: #f5f5f5;
        font-family: Calibri, sans-serif;
        color: #333;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .signup {
        display: flex;
        width: 800px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
    }

    .signup-connect,
    .signup-classic {
        width: 50%;
        padding: 30px;
    }

    .signup-connect {
        background: #f5f5f5;
        color: black;
    }

        .signup-connect h1 {
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 40px;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }

    .signup-classic h2 {
        font-size: 16px;
        font-weight: normal;
        margin-top: 23px;
        margin-bottom: 43px;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    .form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

        .form fieldset {
            position: relative;
            margin-bottom: 20px;
        }

        .form input {
            width: 100%;
            height: 48px;
            color: #333;
            padding: 15px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            font-size: 14px;
            outline: none;
        }

        .form button {
            width: 100%;
            padding: 15px;
            background: linear-gradient(-5deg, #2c97a5, #2c6b76);
            color: #fff;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
        }

            .form button:hover {
                background: linear-gradient(-5deg, #265c66, #234a52);
            }

    .checkbox {
        margin-top: 10px;
        text-align: left;
    }

        .checkbox label {
            display: block;
        }

    .btn-social {
        padding-left: 64px;
        position: relative;
    }

        .btn-social .fa {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 100%;
            text-align: center;
            background: rgba(0, 0, 0, 0.1);
            line-height: 3.2;
            border-radius: 5px 0 0 5px;
        }


    .btn {
        background: rgb(246,194,146);
        background: linear-gradient(0deg, rgba(246,194,146,1) 0%, rgba(198,100,7,1) 88%);
        color: white;
        transition: background-color 0.2s, transform 0.2s;
        font-weight: bold;
        font-family: Calibri;
        margin-left: 5px;
    }

        .btn:hover {
            background-color: rgba(214, 110, 12, 1);
            transform: scale(1.1);
        }

    .btn1 {
        background: rgb(246,194,146);
        background: linear-gradient(0deg, rgba(246,194,146,1) 0%, rgba(198,100,7,1) 88%);
        color: white;
        transition: background-color 0.2s, transform 0.2s;
        font-weight: bold;
        font-family: Calibri;
    }
</style>


<h1 style="text-align:center;font-family:Calibri;">Welcome to Parkview</h1>

<div class="signup">
    <div class="signup-connect">
        <h1>Sign Up With</h1>
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
    </div>
    <div class="signup-classic">
        <h1 style="text-align:center;">SignUp</h1>
        <form class="form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <fieldset class="email">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </fieldset>
            <fieldset class="password">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"  placeholder="password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </fieldset>
            <fieldset class="password">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirm password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </fieldset>
            <button type="submit" class="btn1">SignUp</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*-------------------------------------------------------------------SNEHA CHATBOT ---------------------------------------------------------*@
<script type="text/javascript">
    (function (d, t) {
        var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
        v.onload = function () {
            window.voiceflow.chat.load({
                verify: { projectID: '64f463586babf2000798beac' },
                url: 'https://general-runtime.voiceflow.com',
                versionID: 'production'
            });
        }
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
    })(document, 'script');
</script>

